@use "../utils/variables" as vrb;
@use "../global";
@mixin important-text {
  color: vrb.$main-color;
  font-family: Rubik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
